.body {
    font-family: 'Courier New', Courier, monospace;
    display: flex;
    flex-direction: column;
    margin-left: 7%;
}
.headline {
    font-size: 20px;
    max-width: 50%;
}
.form {
    
}

.form_basic {
    max-width: 50%;
    font-size: 18px;
    display: flex;
    flex-direction: column;
    line-height: 200%;
    row-gap: 10px;
  }

.form__row {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items:baseline;
    padding-top: 1%;
    padding-bottom: 1%;
    line-height: normal;
}

.form__row__option {
    font-size: 14px;
}

.form__agreement__checkbox {
    accent-color: gray;
}
